<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-md-12"> -->

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href= "<%= root_path %>" >
      <span>HACKERNEWS</span>
    </a>
  </div>
</nav>

<div class="container">
  <div class="list-group">
    <% @items.each do |item| %>

      <%=link_to("http://news.ycombinator.com/item?id=#{item.item_id}", class:"list-group-item list-group-item-action flex-column align-items-start", :target => "_blank") do %>

      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%= item.username %></h5>
        <small><%= time_ago_in_words(item.time) %></small>
      </div>
      <p class="mb-1"><%= item.title %></p>
      <small class="text-muted"><%= item.descendants%> comment</small>

      <% end %>

    <% end %>


  </div>

  <button type="button" class="btn btn-primary">More</button>

</div>
